*,
*::before,
*::after {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');


html {
    scroll-behavior: smooth;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.6;
    font-size: 1.2rem;
    background: #1c1b1f;
    color: #eaeaf0;
}

:root {
    --font-accent: "Playpen Sans", cursive;

    --font-accent-Head: "Bad Script", cursive;

    --accent: rgba(251, 251, 85, 0.85);
}


.header {
    padding: 10px 0;
}

.header__container {
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.header__title {
    font-family: var(--font-accent-Head);
    font-size: 20px;
    font-weight: 200;
}


.sidebar {
    display: flex;
    gap: 20px;
    margin: 0px;
    padding: 0px;
}

.sidebar__link {
    text-decoration: none;
    color: var(--accent);
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid transparent;
}

.sidebar__link:hover {
    border: 1px solid #fff;
}

.layout {
    padding: 80px 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

section {
    padding: 50px 0;
    border-bottom: 1px solid rgba(251, 251, 85, 0.533);
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    justify-items: center;
    align-items: center;
    padding: 40px 0;
}

.hero__text {
    display: grid;
    gap: 20px;
}

.hero__image {
    aspect-ratio: 1 / 1;
    max-width: 320px;
    border-radius: 30px;
    overflow: hidden;
    position: relative;

}

.hero__avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero__image::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.2);
}

.hero__title {
    font-family: var(--font-accent);
    font-size: 30px;
}

.about__title {
    margin-bottom: 30px;
}

.about__desc {
    max-width: 700px;
    line-height: 1.7;
    color: rgba(234, 234, 240, 0.9);
    padding: 10px;
}



.projects__title {
    margin-bottom: 30px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 40px;
}

.cards__item {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 15px;
    padding: 10px;
    transition: 0.5s ease;
}

.cards__item:hover {
    background: #2a2a2e;
}


.cards__image {
    width: 100%;
    aspect-ratio: 4 / 3;
    overflow: hidden;
    border-radius: 20px;
}

.cards__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.cards__link {
    margin-top: auto;
    text-decoration: none;
    color: var(--accent);
    padding: 5px;
    border-radius: 10px;
    border: 1px solid transparent;
}

.cards__link:hover {
    border: 1px solid #fff;
}

.contacts {
    text-align: center;
}

.contacts__title {
    margin-bottom: 30px;
}

.contacts__list {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.contacts__item {
    list-style: none;
}

.contacts__link {
    text-decoration: none;
    font-weight: 700;
    padding: 5px;
    border: 1px solid transparent;
    color: blue;
    border-radius: 10px;
}

.contacts__link:hover {
    border: 1px solid #fff;
}


.footer {
    text-align: center;
}

@media (max-width: 768px) {
  .hero {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .hero__image {
    order: -1;
  }

  .sidebar {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 425px) {
    .header__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}